@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*pagina principal/inicio*/
.fondo-inicio div img {
  padding: 3rem;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.p-tamaño {
  margin: 1rem; }

.img-edit {
  display: flex;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  float: left;
  margin: 1.1rem; }

.p-tamaño {
  font-size: 1.1rem; }

.contenedor {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem; }

.contenedor-2 {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  gap: 1rem; }

.sub-title {
  margin-left: 1.1rem; }

.V-1 {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.V-2 {
  display: grid;
  grid-template-columns: 1fr 1fr; }

footer {
  text-align: center; }

/*Segunda pagina galeria de platillos*/
.sub-galeria {
  margin: 0.8rem; }

.flex-galeria {
  display: flex;
  margin: 1rem;
  padding: 0.3rem; }

.img-galeria {
  width: 100%;
  height: 400px; }

.img-galerias {
  width: 100%;
  height: 400px; }

.grid-galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 1rem;
  column-gap: 1rem; }

.p-grids {
  font-size: 1.1rem;
  margin: 1.1rem; }

.p-grid {
  font-size: 1.1rem;
  margin: 1.1rem; }

/*Tercera pagina nosotros*/
.h2-nosotros {
  font-size: 2rem;
  margin: 1rem; }

.img-nosotros {
  padding: 3rem;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.sub-nosotros {
  margin: 1rem;
  font-size: 2rem; }

.p-nosotros {
  margin: 1rem;
  padding: 0.3rem;
  text-align: center;
  font-size: 1.1rem; }

/*Cuarta pagina comentarios*/
.h2-comentarios {
  text-align: center;
  margin: 0.5rem;
  padding: 0.5;
  font-size: 2.9; }

.h3-comentarios {
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.7rem; }

.formulario-comentarios {
  text-align: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem; }

.comentarios-opinion {
  text-align: center;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem; }

.formulario2-comentario {
  text-align: center;
  align-items: center;
  margin-bottom: 1rem; }

/*Postres y dulces, quinta pagina */
.h2-postre {
  text-align: center;
  margin: 1rem;
  padding: 0.5rem; }

.sub-postre {
  margin: 1rem; }

.img-picaron {
  padding: 3rem;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.arroz-postre {
  margin: 0.5rem;
  padding: 0.5rem; }

.c-postre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 1rem; }

.h3-postre {
  padding: 1rem; }

/*Sexta pagina comida tipica*/
.titulo-comida {
  padding: 1rem;
  text-align: center; }

.h3-comida {
  padding: 1rem; }

.c-comida {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 1rem; }

.img-responsive {
  padding: 3rem;
  width: 100%;
  height: 100%;
  object-fit: cover; }

/*septima pagina tragos y bebidas*/
.tiulo-bebida {
  padding: 1rem;
  text-align: center; }

.h3-bebidas {
  padding: 1rem; }

.img-bebidas {
  padding: 3rem;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.c-bebidas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 1rem; }
