//Import 
@import "../utilidades/variables";
@import "../utilidades/mixin";

//Primera pagina/inicio 

/*Punto peruano media queries CELULAR*/
@media (max-width: 600px) {
    .V-1{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .V-2{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .img-edit{
        border-radius: 100%;
        @include a-a (120px, 120px);
        float: left;
        margin: 1.1rem;
    }
  }
